<%= form_tag sessions_url do %>

<div class="px_session_inputdiv">
    <input id="username" name="username" placeholder="Username" type="text" class="px_session_inputfield"/>
</div>


<div class="px_session_inputdiv">
    <input id="password" name="password" placeholder="Password" type="password" class="px_session_inputfield"/>
</div>
<button class="px_session_button">
	 Sign In 
</button>



<% end %>