<div class="px_welcome_content_main">

	<div class="px_welcome_content">
		<div class="px_welcome_content_design">
			<div class="px_welcome_logo">
			</div>
					
			<%= render 'form' %>
			
		</div>
	</div>
</div>