<div class="px_welcome_content_main">

	<div class="px_welcome_content">
		<div class="px_welcome_content_design">
			<div class="px_welcome_logo">
			
			</div>
			<div class="px_welcome_tagline">
					Your pictures just found a HOME!!!
			</div>
		
			<div class="px_welcome_buttons_div">
				<a href="/sessions/new">
				<div class="px_welcome_button">
				Login
				</div>
				</a>
				
				<a href="/users/new">
				<div class="px_welcome_button">
				Sign Up
				</div>	
				</a>
			</div>
		</div>
	<div>
</div>