<!DOCTYPE html>
<html>

<body>
<p><img src="http://l2.yimg.com/bt/api/res/1.2/OLqgimfu1OnfxfQBUllzQQ--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD00MjE7cT03NTt3PTYzMA--/http://l.yimg.com/os/624/2012/10/11/95855004-jpg_052133.jpg" />&nbsp; &nbsp; &nbsp;&nbsp;</p>
<p><span>While your idea of a big purchase may be a new TV or a high-end barbecue with all the bells and whistles, some of the world's ultra-wealthy have another idea. Even for much of "the 1%," a private island in a prime location is out of the budget. However, for those on the upper end of the 1% bracket, it's the perfect way to vacation or invest. Here are some of the more notable individuals who purchased their own islands.</span></p>
<p></p>
<div>
<p><img src="http://l.yimg.com/bt/api/res/1.2/sx5o9AHI5Pf_rB8vrHCwww--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD02NTI7cT03NTt3PTYzMA--/http://l.yimg.com/os/624/2012/10/11/000-SAPA981008884980-jpg_052130.jpg" />&nbsp;</p>
<p><span><strong>Aristotle Onassis,</strong> the late Greek shipping tycoon, was one of the first to purchase a private island,&nbsp;<em><strong>Skorpios, located in the Ionian Sea.</strong></em><br /></span></p>
<p></p>
</div>
<p><img src="http://l1.yimg.com/bt/api/res/1.2/M_.WQcj_RX_nKvlp8d.9SQ--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD00MzE7cT03NTt3PTU5NA--/http://l.yimg.com/os/624/2012/10/11/153125353-jpg_052140.jpg" />&nbsp;<strong>Larry Ellison,&nbsp;</strong>Oracle founder and CEO Larry Ellison is reportedly worth $36 billion.&nbsp;<span>&nbsp;In 2012, Ellison purchased <em><strong>the island of Lanai, Hawaii's sixth-largest island.</strong></em>&nbsp;<span>The 88,000-acre island comes with two Four Seasons resorts, two golf courses and a stable. Although it's not known what he paid for the purchase, estimates are between $500 and $600 million in an all-cash deal.</span></span></p>
<p>&nbsp;</p>
<p><img src="http://l2.yimg.com/bt/api/res/1.2/hOUJI6gi8PhZ9lf4A9EZiQ--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD01OTQ7cT03NTt3PTM5NQ--/http://l.yimg.com/os/624/2012/10/11/152331636-jpg_052138.jpg" />&nbsp;</p>
<p><strong>Richard Branson,&nbsp;</strong>In 1978, Virgin Empire founder Richard Branson purchased The United Kingdom's Necker Island for only a few hundred thousand dollars.&nbsp;<span>The island is a small private resort with a $50,000 per night price tag.</span></p>
<p></p>
<p><img src="http://l1.yimg.com/bt/api/res/1.2/mX9ECOWEUPn4xan21QUC3g--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD01OTQ7cT03NTt3PTQ1MQ--/http://l.yimg.com/os/624/2012/10/11/139291460-jpg_052130.jpg" />&nbsp;<strong>David Copperfield,&nbsp;</strong>Magician David Copperfield purchased Muscha Cay, a private island with an unspoiled tropical environment stretching out more than 150 acres, complete with a 30-person staff that provides all of the amenities of an ultra-high end island experience.<span>Only one booking is allowed at the 12-bedroom resort at any one time and rates start at $52,500 per night.</span></p>
<p></p>
<p><img src="http://l3.yimg.com/bt/api/res/1.2/dDATUVK8AZwoRdfnWOz4nQ--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD01OTQ7cT03NTt3PTQzNg--/http://l.yimg.com/os/624/2012/10/11/152772008-jpg_052139.jpg" />&nbsp;<strong>Ted Turner,&nbsp;</strong>CNN founder Ted Turner purchased <em><strong>St. Phillips Island</strong></em> for an undisclosed amount. The island, located off the coast of South Carolina, is not open to the public. Ted Turner was the majority owner of the island until fellow media mogul John Malone upped his own stake in the island to 2.2 million acres.</p>
<p></p>
<p><img src="http://l2.yimg.com/bt/api/res/1.2/y7sZK.A59W1mSLXa74GAlA--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD01OTQ7cT03NTt3PTQ0Mg--/http://l.yimg.com/os/624/2012/10/11/137023459-jpg_052130.jpg" />&nbsp;<strong>Mel Gibson,&nbsp;</strong>Actor</p>
<p><span>Purchased<em><strong> Mago Island</strong></em> for a reported $15 million in 2005. The 5,400-acre island is the size of some small countries and one of the largest islands in the South Pacific. Environmentalists were concerned that Gibson may turn the island into a luxury resort. Soon after purchasing the property, Gibson said that he wanted to leave it as it was and build only a vacation home.</span></p>
<blockquote>
<p><strong>The Bottom Line</strong></p>
<p>Not all private islands are extravagantly priced. You can purchase a small Canadian island for C$35,000 or less, but experts recommend that you take into account the much higher cost of building a property on your island. Before thinking about buying an island for your retirement, do your research first.</p>
</blockquote>
<p><img src="http://l2.yimg.com/bt/api/res/1.2/.jh7ZhrBhmWwsxZc5.qqXA--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD0yMTE7cT03NTt3PTYzMA--/http://l.yimg.com/os/624/2012/10/11/146775507-jpg_052133.jpg" /></p>
<p></p>
</body>
</html>